<?xml version="1.0"?>
<launch>
    <!-- Include the MAVROS node with SITL and Gazebo -->
    <include file="$(find px4_controller)/launch/mavros_posix_sitl.launch" />

    <!-- The following models still have unsolved problems -->
    <!-- <param name="robot_description" textfile="$(find px4_controller)/models/iris.urdf" /> -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find px4_controller)/models/iris.xacro" /> -->

    <node pkg="rviz" type="rviz" name="rivz" args="-d $(find simulator)/rviz/rviz_config.rviz" />
</launch>