<launch>
    <arg name="headless" default="false"/>
    <arg name="rviz_config" default="$(find planner)/rviz/rviz_config.rviz"/>
    <arg name="gazebo_world" default="poles"/>
    <arg name="world_num_models" default="0"/>
    <arg name="is_save_metric" default="true"/>
    <arg name="max_target_find_time" default="30"/>
    <arg name="selected_planner" default="enhanced"/>
    <arg name="replan_mode" default="periodic"/>

    <!-- Launch the simulator -->
    <include file="$(find simulator)/launch/sim_onboard.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gazebo_world" value="$(arg gazebo_world)"/>
    </include>

    <!-- Launch the planner components -->
    <include file="$(find planner)/launch/map_server_onboard.launch">
        <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>

    <include file="$(find planner)/launch/planner.launch">
        <arg name="selected_planner" value="$(arg selected_planner)"/>
        <arg name="replan_mode" value="$(arg replan_mode)"/>
        <arg name="is_save_metric" value="$(arg is_save_metric)"/>
        <arg name="max_target_find_time" value="$(arg max_target_find_time)"/>
        <arg name="gazebo_world" value="$(arg gazebo_world)"/>
        <arg name="world_num_models" value="$(arg world_num_models)"/>
    </include>

    <include file="$(find planner)/launch/manager.launch"/>
</launch>
