<?xml version="1.0"?>
<launch>
    <arg name="is_save_metric" default="true"/>
    <arg name="max_target_find_time" default="45"/> <!-- seconds -->
    <arg name="gazebo_world" default="poles"/>
    <arg name="selected_planner" default="enhanced"/>
    <!-- selected_planner: 'basic', 'batch', 'geo', 'record', 'nn', 'enhanced', or 'warmstart'-->
    <arg name="replan_mode" default="periodic"/>
    <!-- replan_mode: 'global', 'online', or 'periodic'-->

    <node pkg="planner" type="traj_planner_node.py" name="planner" output="screen">
        <param name="selected_planner" value="$(arg selected_planner)"/>
        <param name="replan_mode" value="$(arg replan_mode)"/>
        <param name="is_save_metric" value="$(arg is_save_metric)"/>
        <param name="max_target_find_time" value="$(arg max_target_find_time)"/>
        <param name="gazebo_world" value="$(arg gazebo_world)"/>
        <rosparam file="$(find planner)/launch/planner_config.yaml" command="load"/>
    </node>

</launch>