<?xml version="1.0"?>
<launch>
    <!-- drone init state -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- fixed frame id -->
    <arg name="frame_id" default="map"/>
    <arg name="gazebo_world" default="poles"/>

    <!-- PX4 SITL, Gazebo, and MAVROS -->
    <include file="$(find simulator)/launch/px4_utils.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="gazebo_world" value="$(arg gazebo_world)" />
    </include>

</launch>